DB_URL=jdbc:mysql://<host>:3306/ltudcsdl_doan?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=<username>
DB_PASSWORD=<password>
DB_DRIVER=com.mysql.cj.jdbc.Driver
HIBERNATE_DIALECT=org.hibernate.dialect.MySQL8Dialect
